# Ignore dependencies
node_modules


# Ignore system files
.DS_Store
Thumbs.db

# Ignore environment files
.env.*

# Ignore logs
npm-debug.log
yarn-debug.log
yarn-error.log

# Ignore IDE/editor files
.vscode
.idea
*.swp

# Ignore test coverage
coverage

# Ignore misc
*.tgz
*.log
